h2 Lista de celebridades

a(href="/celebrities/new")
    p Agregar nueva celebridad
each celebrity in celebrities
    a(href=`/celebrities/${celebrity._id}`)
        h3=celebrity.name
        p=celebrity.occupation
        p(style="font-style: oblique;")=celebrity.catchPhrase
        form(action=`/celebrities/${celebrity._id}/delete`, method="post")
            button(type="submit") Eliminar comediante
        a(href=`/celebrities/${celebrity._id}/edit`)
            button Editar celebridad